[submodule "Thirdparty/spdlog"]
	path = Thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Thirdparty/glfw"]
	path = Thirdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "Thirdparty/glm"]
	path = Thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "Thirdparty/glew-cmake"]
	path = Thirdparty/glew-cmake
	url = https://github.com/Perlmint/glew-cmake
[submodule "Thirdparty/entt"]
	path = Thirdparty/entt
	url = https://github.com/skypjack/entt.git
[submodule "GameEngine/Engine/Renderer/ImGUI/imgui"]
	path = GameEngine/Engine/Renderer/ImGUI/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "Thirdparty/box2d"]
	path = Thirdparty/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "Thirdparty/yaml-cpp"]
	path = Thirdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "Thirdparty/sol2"]
	path = Thirdparty/sol2
	url = https://github.com/Paul-Austria/sol2.git
[submodule "Thirdparty/lua"]
	path = Thirdparty/lua
	url = https://github.com/walterschell/Lua.git
